<div class="finance">
  <div class="finance__container">
    <h2 class="finance__title"> Finances</h2>
    <app-finance-table [finances]="dataSource"/>
    <button
      mat-raised-button
      color="primary"
      (click)="openModal()"
      class="mt-4 w-full max-w-xs bg-blue-600 text-white rounded-lg py-2 px-4 transition-transform transform hover:scale-105 shadow-lg"
    >
      Add
    </button>

    <app-finance-form
      [isModalOpen]="modalOpen"
      (close)="closeModal()"
      [agriculturalProcessId]="1"
      (success)="handleSuccess()"
      class="mt-4 w-full max-w-lg"
    />
  </div>

</div>
