.table {
  background-color: #F4F4F4;
  box-shadow: none;
}

.table__header {
  color: #BEBEBE;
}

.table__action-view {
  background-color: #2FB95D;
  border: none;
  color: #FFF;
  padding: 5px 25px;
  border-radius: 0.5rem;
}

.table__actions {
  display: flex;
  justify-content: space-between;
}
