<!--
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

  &lt;!&ndash;- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" &ndash;&gt;

  &lt;!&ndash; Position Column &ndash;&gt;
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef class="table__header"> Date </th>
    <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
  </ng-container>

  &lt;!&ndash; Name Column &ndash;&gt;
  <ng-container matColumnDef="hours">
    <th mat-header-cell *matHeaderCellDef class="table__header"> Hours </th>
    <td mat-cell *matCellDef="let element"> {{ element.hoursIrrigated }} </td>
  </ng-container>

  &lt;!&ndash; Weight Column &ndash;&gt;
  <ng-container matColumnDef="workers">
    <th mat-header-cell *matHeaderCellDef class="table__header"> Workers </th>
    <td mat-cell *matCellDef="let element">

      <div class="table__actions">
        <button class="table__action table__action-view">View</button>

        <button class="table__action table__action-delete">
          <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>

      </div>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

-->


<div class="overflow-x-auto p-4">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
    <tr class="bg-gray-200 text-gray-600 text-left text-xs uppercase leading-4 font-semibold border-b border-gray-300">
      <th class="px-4 py-2">Date</th>
      <th class="px-4 py-2">Hours Irrigated</th>
      <th class="px-4 py-2">Total Workers Cost</th>
      <th class="px-4 py-2">Workers</th>
    </tr>
    </thead>
    <tbody class="text-gray-700 text-sm">
    <tr *ngFor="let irrigation of irrigations" class="hover:bg-gray-100">
      <td class="px-4 py-2 border-b border-gray-300">{{ irrigation.date }}</td>
      <td class="px-4 py-2 border-b border-gray-300">{{ irrigation.hoursIrrigated }}</td>
      <td class="px-4 py-2 border-b border-gray-300">{{ irrigation.totalWorkersCost }}</td>
      <td class="px-4 py-2 border-b border-gray-300">
        <div class="table__actions">
          <button class="table__action table__action-view" (click)="openModal(irrigation.workers)">View</button>

          <app-workers-table-pop-up
            [isModalOpen]="isModalOpen"
            [irrigationWorkers]="selectedWorkers"
          />

          <button class="table__action table__action-delete">
            <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>

        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
