<div class="p-4 ">
  <div class="text-lg font-bold">
    <mat-icon>agriculture</mat-icon> AgroControl
  </div>
  <nav class="!space-y-2 px-4 mt-4">
    <a [routerLink]="['home-agricultural-process/1']" class="block py-2">Home</a>
    <!--<a href="#" class="block py-2">Store</a>-->
    <a [routerLink]="['irrigation-view']" class="block py-2">Irrigation</a>
    <a [routerLink]="['crop-treatment-view']" class="block py-2">Fumigation & Fertilization</a>
    <a href="#" class="block py-2">Harvest</a>
    <a [routerLink]="['finance-view']" class="block py-2">Finances</a>
    <a href="#" class="block py-2">Log Out</a>
  </nav>
</div>

