<mat-card  class="flex flex-col md:flex-row justify-between p-4 !max-w-screen-xl md:!w-3/4 sm:!w-5/6 !w-11/12 ml-4 md:ml-8">
  <div class="flex flex-col">
    <mat-card-title class="!text-xl !font-bold"><h2>Irrigation</h2></mat-card-title>
    <div class="flex flex-row !items-center space-x-4 pl-4">
      <div class="flex flex-col">
        <span>Date</span>
        <span class="text-sm text-gray-500">{{ irrigation?.date |  date:'shortDate' }}</span>
      </div>
      <span class="border-l-2 border-gray-300 h-6"></span>
      <div class="flex flex-col">
        <span>Worker</span>
        <span class="text-sm text-gray-500">{{ irrigation?.workers?.length }} workers</span>
      </div>
    </div>
  </div>
  <mat-card-actions align="end" class="!self-end mt-4 md:mt-0">
    <button mat-raised-button color="primary" class="!bg-green-500 !text-white">View</button>
  </mat-card-actions>
</mat-card>
