<mat-card class="w-96" appearance="outlined">
  <img mat-card-image src="/assets/img/fields1.png" alt="Photo of a Shiba Inu" (click)="goToHome(field.id)">
  <mat-card-content>
    <h3>{{ field.fieldName }}</h3>
    <p>Land Size: {{ field.fieldSize }}</p>
    <p>Location: {{ field.fieldLocation }}</p>
  </mat-card-content>
  <mat-card-actions class="gap-2.5 m-3">
    <button class="w-20 !bg-green-600 !text-white !rounded" mat-button (click)="openModal()">Edit</button>
    <button class="w-20 !bg-green-600 !text-white !rounded" mat-button (click)="onFieldDeleted(field.id)">Delete</button>
  </mat-card-actions>
</mat-card>

<app-field-form
  *ngIf="isModalOpen"
  [fieldId]="field.id"
  [currentUserId]="field.userId"
  [isModalOpen]="isModalOpen"
  (close)="closeModal()"
  (success)="onEditSuccess()"
></app-field-form>
