<mat-card class="w-96" appearance="outlined">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h3>{{field.fieldName}}</h3>
    <p>Land Size: {{field.fieldSize}}</p>
    <p>Location: {{field.fieldLocation}}</p>
  </mat-card-content>
  <mat-card-actions class="gap-2.5 m-3">
    <button class="w-20 !bg-green-600 !text-white !rounded" mat-button>Edit</button>
    <button class="w-20 !bg-green-600 !text-white !rounded" mat-button>Delete</button>
  </mat-card-actions>
</mat-card>
