<div class="overflow-x-auto p-4">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
    <tr class="bg-gray-200 text-gray-600 text-left text-xs uppercase leading-4 font-semibold border-b border-gray-300">
      <th class="px-4 py-2">Full Name</th>
      <th class="px-4 py-2">Cost</th>
    </tr>
    </thead>
    <tbody class="text-gray-700 text-sm">
    <tr *ngFor="let worker of workersProcess; let i = index" class="hover:bg-gray-100">
      <td class="px-4 py-2 border-b border-gray-300">{{ workerNames[i] }}</td>
      <td class="px-4 py-2 border-b border-gray-300">{{ worker.cost }}</td>
    </tr>
    </tbody>
  </table>
</div>
