<div class="flex flex-row w-dvw flex-wrap gap-4">
  <app-field-card *ngFor="let field of fields" [field]="field" (deleteField)="reload()" (editField)="editModal()"/>
  <div class="flex justify-center items-center">
    <button class="relative object-center" mat-button (click)="openModal()"><img class="w-7" src="/assets/img/icon.png" alt="Add field"></button>
  </div>
</div>

<app-field-form
  *ngIf="isModalOpen"
  [type]="this.type"
  [currentUserId]="currentUserId"
  [isModalOpen]="isModalOpen"
  (close)="closeModal()"
  (success)="onFieldAdded()">
</app-field-form>
