<mat-drawer-container class="h-screen flex">
  <!-- Sidenav -->
  <mat-drawer #drawer class="w-64 bg-green-900 text-white" mode="side" [opened]="isSidenavOpened">
    <app-sidenav-agricultural-producer></app-sidenav-agricultural-producer>
  </mat-drawer>

  <!-- Contenido principal -->
  <mat-drawer-content class="flex flex-row">
    <app-navbar-agricultural-producer (toggleSidenav)="toggleSidenav()"></app-navbar-agricultural-producer>
    <div class="p-4 w-full">
      <app-card-plantation [agriculturalProcess]="agriculturalProcess"></app-card-plantation>

      <!-- Card para Irrigation -->
      <app-card-irrigation-details [irrigation]="upcomingIrrigation"></app-card-irrigation-details>

      <!-- Cards para los Treatments -->
      <app-card-treatment-details [treatment]="upcomingFumigation" treatmentType="Fumigation"></app-card-treatment-details>
      <app-card-treatment-details [treatment]="upcomingFertilization" treatmentType="Fertilization"></app-card-treatment-details>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
