<div class="bg-white rounded-lg p-4 sm:p-6 max-w-screen-md w-full mx-auto">
  <h2 class="!text-center !text-3xl !font-bold !text-gray-800 !mb-6">
    Crop Treatment Scheduler
  </h2>
  <form (submit)="onSubmit()" #cropTreatmentFrom="ngForm" class="flex flex-col space-y-4">

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Date</mat-label>
      <input matInput placeholder="Date" name="date" [(ngModel)]="date" required disabled>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Type</mat-label>
      <mat-select placeholder="Type" name="treatmentType" [(ngModel)]="cropTreatment.treatmentType" required>
        <mat-option [value]="'Fertilization'">Fertilization</mat-option>
        <mat-option [value]="'Fumigation'">Fumigation</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngFor="let product of products; let i = index" class="flex justify-center items-center space-x-2 mb-2">
      <mat-form-field appearance="fill" class="flex-1">
        <mat-label>Product</mat-label>
        <mat-select placeholder="Product" [(ngModel)]="products[i].productId" name="product{{i}}" required>
          <mat-option *ngFor="let userProduct of userProducts" [value]="userProduct.id">{{ userProduct.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="flex-1">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" [(ngModel)]="products[i].quantity" name="quantity{{i}}" required>
      </mat-form-field>

      <button
        type="button"
        class="bg-red-600 text-white font-semibold px-4 py-2 rounded-lg shadow-md hover:bg-red-700 transition-all duration-300 ease-in-out transform hover:scale-105"
        (click)="removeProduct(i)">
        Remove
      </button>


    </div>

    <button
      type="button"
      (click)="addProduct()"
      class="bg-secondary text-white font-semibold px-4 py-2 rounded-lg shadow-md hover:bg-secondary-hover transition-all duration-300 ease-in-out transform hover:scale-105">
      Add Product
    </button>

    <div *ngFor="let worker of workers; let i = index" class="flex justify-center items-center space-x-2 mb-2">
      <mat-form-field appearance="fill" class="flex-1">
        <mat-label>Worker</mat-label>
        <mat-select placeholder="Worker" [(ngModel)]="workers[i].workerId" name="worker{{i}}" required>
          <mat-option *ngFor="let fieldWorker of fieldWorkers" [value]="fieldWorker.id">{{ fieldWorker.fullName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="flex-1">
        <mat-label>Cost</mat-label>
        <input matInput type="number" [(ngModel)]="workers[i].cost" name="cost{{i}}" required>
      </mat-form-field>

      <button
        type="button"
        class="bg-red-600 text-white font-semibold px-4 py-2 rounded-lg shadow-md hover:bg-red-700 transition-all duration-300 ease-in-out transform hover:scale-105"
        (click)="removeWorker(i)">
        Remove
      </button>


    </div>

    <button
      type="button"
      (click)="addWorker()"
      class="bg-secondary text-white font-semibold px-4 py-2 rounded-lg shadow-md hover:bg-secondary-hover transition-all duration-300 ease-in-out transform hover:scale-105">
      Add Worker
    </button>

    <div class="flex flex-col gap-4 sm:flex-row justify-around mt-4">
      <button
        [disabled]="cropTreatmentFrom.invalid"
        class="bg-primary px-5 py-3 text-white font-semibold uppercase rounded-lg shadow-md hover:bg-primary-hover disabled:opacity-50 disabled:cursor-not-allowed transition-all duration-300 ease-in-out">
        Confirm
      </button>

      <button
        type="button"
        (click)="onCancel()"
        class="bg-red-600 text-white font-semibold uppercase px-5 py-3 rounded-lg shadow-md hover:bg-red-700 transition-all duration-300 ease-in-out">
        Cancel
      </button>
    </div>

  </form>

  <div *ngIf="showWarning" class="mt-8">
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Warning!<br></strong>
      <span class="block sm:inline">Please fill out all the fields.</span>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg (click)="showWarning = false" class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path fill-rule="evenodd" d="M14.95 5.05a.75.75 0 0 1 1.06 1.06L11.06 10l4.95 4.95a.75.75 0 1 1-1.06 1.06L10 11.06l-4.95 4.95a.75.75 0 0 1-1.06-1.06L8.94 10 4.05 5.05a.75.75 0 0 1 1.06-1.06L10 8.94l4.95-4.95z"></path>
        </svg>
      </span>
    </div>
  </div>
</div>
